
.application-list_content{
    margin: auto;
    height: 100%;

    .customer_inner_content{
        background-color: #fff;
        overflow-y: scroll;
        height: calc(100% - 0px);
        padding: 15px;
        border-radius: 4px;
        padding-bottom: 0px;
    }
    /* .customer_no{
        position: absolute;
        z-index: 99999;
        top: -1px;
    } */
    .bulk-file{
        margin-left: 50px; 
    }
ul.status_main_bx {
    list-style: none;
    margin: 0;
    padding: 0;
}
    .select_search{
        position: relative;
        top: -8px;
        z-index: 9999;
        left: 90px;
        width: 70% !important;
    }
    .customer_search{
        margin-top: -10px;
    }
    .tableheight .ui-datatable-scrollable-body{
        max-height: calc(100vh - 270px);
    }
    .dataTableNameColumn {
        font-family: 'ChivoRegular';
        font-style: normal;
        font-weight: normal;
        line-height: 20px;
        color: #00395A;
    }
    .tableCols {
        word-wrap: break-word;
        font-family: 'ChivoRegular' !important;
    }
    .btn-delete-customer{
        margin-top: 0px;
        background-color: #FF0000 !important;
        border-color: #FF0000 !important;
        color: #fff !important;
        margin-left: 10px !important;
    }
    .btn-success-customer{
        margin-top: 0px;
        background-color: rgb(51, 255, 0) !important;
        border-color: rgb(51, 255, 0) !important;
        color: #fff !important;
        margin-left: 10px !important;
    }
    .btn-edit-customer{
        background-color: #00395A !important;
        border-color: #00395A !important;
        color: #fff !important;
    }
    .btn-placeOrder{
        background: #00395A !important;
        border-color: #00395A !important;
        width: max-content;
        font-size: 16px !important;;
        font-weight: 600 !important;;
        margin-bottom: 15px;
        color: #fff !important;
    }

    .upload-btn-wrapper {
        position: relative;
        /* overflow: hidden; */
        display: inline-block;
        margin-left: 30px;
    }

    .tableCols{
        font-weight: 300;
    }

    .admistration_tab{
        width: 100%;
    }
    .advisor-tab-tableheight {
        
        .p-datatable {
            .p-datatable-scrollable-body {
                max-height: calc(100vh - 280px);
            }
        }
    }
    .administration_tab {
        .heading_title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }
    }
    .pending-status {
        background: #007bff;
        text-align: center;
        color: #fff;
    }
    .approve-status {
        background: green;
        text-align: center;
        color: #fff;
    }
    .disapprove-status {
        background: red;
        text-align: center;
        color: #fff;
    }
}
.image_icons{
    width: 100%;
    height: 60px;
    object-fit: contain;
}
.image_icons_content{
    width: 100%;
    height: 100px;
    object-fit: contain;
}
body .novus_datatable.p-datatable .p-datatable-thead > tr > th {
    border: 0px solid #c8c8c8;
    text-align: center;
}
body .novus_datatable.p-datatable .p-datatable-tbody > tr > td {
    border: 0px solid #c8c8c8;
    text-align: center;
}
body .novus_datatable.p-datatable .p-datatable-header, body .novus_datatable.p-datatable .p-datatable-footer {
    border: 0px solid #c8c8c8;
}
body .novus_datatable .p-paginator {
    border: 0px solid #c8c8c8;
}
body .novus_datatable.p-datatable .p-datatable-tbody > tr {
    border-bottom: 1px solid #c8c8c8;
}
.date_field p{
    margin-bottom: 0;
}
.status_main_bx{
    position: relative;
}
.status_bx {
    position: absolute;
    min-width: 350px;
    left: -50%;
    top:0;
}
.application-list_content .status_main_bx .btn-delete-customer {
    margin-left: 0px !important;
}
.application-list_content .status_main_bx .status_bx button {
    min-height: 70px;
    border-radius: 0;
}
.application-list_content .novus_datatable .btn-edit-customer {
    background-color: transparent!important;
    border-color: transparent !important;
    color: #00395a !important;
    font-size: 20px;
    outline: none !important;
    box-shadow: none;
}
.application-list_content .novus_datatable .btn-delete-customer {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #f00 !important;
    font-size: 20px;
    outline: none !important;
    box-shadow: none;
}
.application-list_content .novus_datatable .btn-success-customer {
    background-color: transparent !important;
    border-color: transparent !important;
    color: rgb(51, 255, 0) !important;
    font-size: 20px;
    outline: none !important;
    box-shadow: none;
}
.all_section_bx{
    position: relative;
    display: inline-block;
}
.all_section_bx .menu {
    background: #fff;
    max-width: 310px;
    position: absolute;
    z-index: 1040;
    box-shadow: 0px 0px 10px 5px #ccc;
    max-height: 400px;
    overflow: auto;
    min-width: 280px;
    top: 0;
}
.all_section_bx .menu button {
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    padding: 10px 15px;
    border-bottom: 1px dashed #ccc;
    text-align: left;
    outline: none !important;
}
.all_section_bx .menu p {
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    padding: 10px 15px;
    border-bottom: 1px dashed #ccc;
    color: #7b7b7b;
    margin-bottom: 0;
}
.all_section_bx .menu button.sub_catrgory_menu {
    padding-left: 30px;
}
.all_content_bx{
    position: relative;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 5px;
}
.all_content_bx .menu {
    background: #fff;
    max-width: 310px;
    position: absolute;
    z-index: 1040;
    box-shadow: 0px 0px 10px 5px #ccc;
    max-height: 400px;
    overflow: auto;
    min-width: 280px;
    top: 0;
}
.all_content_bx .menu button {
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    padding: 10px 15px;
    border-bottom: 1px dashed #ccc;
    text-align: left;
    outline: none !important;
}
.all_content_bx .menu p {
    display: block;
    width: 100%;
    background: transparent;
    border: none;
    padding: 10px 15px;
    border-bottom: 1px dashed #ccc;
    color: #7b7b7b;
    margin-bottom: 0;
}
.all_content_bx .menu button.sub_catrgory_menu {
    padding-left: 30px;
}
button.button_drop_main {
    background: none;
    border: none;
    box-shadow: none;
    outline: none !important;
    color: #00395a;
    margin-bottom: 10px;
}
button.button_drop_main i {
    font-size: 12px;
}
.application-list_content button.btn.pending-status.btn_draft {
    background: #00395a;
    color: #fff;
}
body div .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #00395a;
}
.optionGroup {
    font-weight: bold;
    font-size:120%
}
    

select.all_sec_dropdown.form-control {
    max-width: 200px;
    display: inline;
    margin-left: 10px;
}
.status_main_bx li {
    background: lightgray;
    padding: 4px;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
}