
.customer_content{
    margin: auto;
    height: 100%;
    .btn {
        font-size: 0.75rem;
    }
    .customer_inner_content{
        background-color: #fff;
        overflow-y: scroll;
        height: calc(100% - 0px);
        padding: 15px;
        border-radius: 4px;
        padding-bottom: 0px;
    }
    /* .customer_no{
        position: absolute;
        z-index: 99999;
        top: -1px;
    } */
    .bulk-file{
        margin-left: 50px; 
    }

    .select_search{
        position: relative;
        top: -8px;
        z-index: 9999;
        left: 90px;
        width: 70% !important;
    }
    .customer_search{
        margin-top: -10px;
    }
    .tableheight .ui-datatable-scrollable-body{
        max-height: calc(100vh - 270px);
    }
    .dataTableNameColumn {
        font-family: 'ChivoRegular';
        font-style: normal;
        font-weight: normal;
        line-height: 20px;
        color: #00395A;
    }
    .tableCols {
        word-wrap: break-word;
        font-family: 'ChivoRegular' !important;
    }
    .btn-delete-customer{
        margin-top: 0px;
        background-color: #FF0000 !important;
        border-color: #FF0000 !important;
        color: #fff !important;
        margin-left: 10px !important;
    }
    .btn-edit-customer{
        background-color: #00395A !important;
        border-color: #00395A !important;
        color: #fff !important;
    }
    .btn-placeOrder{
        background: #00395A !important;
        border-color: #00395A !important;
        width: max-content;
        font-size: 16px !important;;
        font-weight: 600 !important;;
        margin-bottom: 15px;
        color: #fff !important;
    }

    .upload-btn-wrapper {
        position: relative;
        /* overflow: hidden; */
        display: inline-block;
        margin-left: 30px;
    }

    .tableCols{
        font-weight: 300;
    }

    .admistration_tab{
        width: 100%;
    }
    .advisor-tab-tableheight {
        
        .p-datatable {
            .p-datatable-scrollable-body {
                max-height: calc(100vh - 280px);
            }
        }
    }
    .administration_tab {
        .heading_title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }
    }
    .pending-status {
        background: #007bff;
        text-align: center;
        color: #fff;
    }
    .approve-status {
        background: green;
        text-align: center;
        color: #fff;
    }
    .disapprove-status {
        background: red;
        text-align: center;
        color: #fff;
    }
}