
.admin-list_content{
    margin: auto;
    height: 100%;
    .customer_inner_content{
        background-color: #fff;
        overflow-y: scroll;
        height: calc(100% - 0px);
        padding: 15px;
        border-radius: 4px;
        padding-bottom: 0px;
    }
    .createprofile_go_back{
        font-size: 16px !important;
    }
    .select_search{
        position: relative;
        top: -8px;
        z-index: 9999;
        left: 90px;
        width: 70% !important;
    }
    .customer_search{
        margin-top: -10px;
    }
    .tableheight .ui-datatable-scrollable-body{
        max-height: calc(100vh - 270px);
    }
    .dataTableNameColumn {
        font-family: 'ChivoRegular';
        font-style: normal;
        font-weight: normal;
        line-height: 20px;
        color: #00395A;
    }
    .tableCols {
        word-wrap: break-word;
        font-family: 'ChivoRegular' !important;
    }
    .btn-delete-customer{
        margin-top: 0px;
        background-color: #FF0000 !important;
        border-color: #FF0000 !important;
        color: #fff !important;
        margin-left: 10px !important;
    }
    .btn-edit-customer{
        background-color: #00395A !important;
        border-color: #00395A !important;
        color: #fff !important;
    }
    .btn-create-admin{
        background: #00395A !important;
        border-color: #00395A !important;
        width: max-content;
        font-size: 16px !important;;
        font-weight: 600 !important;;
        margin-bottom: 15px;
        margin-top: 10px;
        color: #fff !important;
    }


    .tableCols{
        font-weight: 300;
    }
    .admin-list-title {
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        padding-top: 10px;
    }
}