
.delete-user-modal {
    
  .delete-user-header {
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding-top: 2rem;
  }
  .delete-user-yes-btn, .delete-user-yes-btn:hover {
    background: #00395A;
    text-align: center;
    color: #fff;
  }
  .delete-user-no-btn, .delete-user-no-btn:hover {
    background: #999;
    text-align: center;
    color: #fff;
  }
}
.approve-user-modal {
    width: 500px;
  .approve-user-header {
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 2rem;
  }
  .delete-user-yes-btn, .delete-user-yes-btn:hover {
    background: #00395A;
    text-align: center;
    color: #fff;
  }
  .addmore-btn, .addmore-btn:hover {
    background: #00395A;
    text-align: center;
    color: #fff;
  }
  .addmore-delete-btn, .addmore-delete-btn:hover {
    background: red;
    text-align: center;
    color: #fff;
  }
}
.error-message-user-modal {
  .error-message-user-header {
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    color: red;
  }
}